@import "@styles/mixin.module.scss";
@import "@styles/variables.module.scss";

.container {
    @include flex_box_custom(center, center, 0px);
    top: 0;
    left: 0;
    right: 0;
}
.topHeader {
    position: absolute;
}
.fixedHeader {
    position: fixed;
    top: -83px;
    transform: translateY(83px);
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.877);
    backdrop-filter: blur(5px);
}
.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;
    width: 1250px;
}
.conatinerBoxIcon {
    @include flex_box_custom(center, center, 10px);
}

.containerBox {
    @include flex_box_custom(center, center, 30px);
}
.containerMenu {
    @include flex_box_custom(center, center, 20px);
}
.boxIcon {
    @include radius_comon(50%);
    @include flex_box_custom(center, center, 0px);
    background-color: $primary_color;
    width: 26px;
    height: 26px;
}
.menu {
    cursor: pointer;
    padding-top: 7px;
    font-size: 15px;
    color: $primary_color;
}
.menu::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: $primary_color;
    transform-origin: right;
    transform: scale(0);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
}
.menu:hover::after {
    transform: scale(1);
    opacity: 1;
}
